<div class="animated fadeIn">
    <h2>Schedule</h2>
		<div class="col-md-6">
	<div class="card">
	         
			 
                <div class="card-header">
                    <strong>Tasks</strong>
                   
                </div>
                <div class="card">
                
                <div class="card-block">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Task 1</button>
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Task 2</button>
                    <button type="button" class="btn btn-outline-success btn-lg btn-block">Task 3</button>
                    <button type="button" class="btn btn-outline-info btn-lg btn-block">Task 4</button>
                    <button type="button" class="btn btn-outline-warning btn-lg btn-block">Task 5</button>
                    <button type="button" class="btn btn-outline-danger btn-lg btn-block">Task 6</button>
                </div>
            </div>
			</div></div>
</div>